body{
    margin: 0%;
    padding: 0%;
    background-image: url(../imagenes/fondo\ dos.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
img{

    position: right;
    background-position: right;
    margin: center;
}
.tittleimg{
    height: 100vh;
    display:flex;
    flex-direction: colum;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
h1{
    left: 50;
    color: aliceblue;
    font-size:220%;
    font-family: Arial, Helvetica, sans-serif; 
    position: rigth;
}
