*{
    padding: 0px;
    font-family: "Arial", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

/*/
Logo y encabezado
/*/
header{
    display: flex;
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 8%;
    padding-bottom: 2%;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 250px;
}
.cerrar a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    align-items: center;
}
.cerrar a:hover{
    color:#06a83c;
}
  
.seleccionado{
    color: #06a83c !important;
}

nav ul {
    gap: 1.8em;
    
}
  
nav ul li {
    list-style: none;
    align-items: center;
    padding-left: 2em;
}

.nav li a {
    border-radius: 0.1em;
    background-color: #FCFCFC;
}
nav ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.nav > li {
    float:left;
}
.nav li ul {
    display:none;
    position: absolute;
    min-width: 8.75em;
}

.nav li:hover > ul{
    display: block;
}

.fa-circle-user {
    font-size: 22pt;
}
  
nav ul li a:hover {
    color: #06a83c;
}
/*Menù lateral*/
#btn-menu{
	display: none;
}
.container-menu{
	position: fixed;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	top:0; 
	left: 0;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
	opacity: 1;
	visibility: visible;
}
.cont-menu{
	width: 100%;
	max-width: 250px;
	background: #009b34;
	height: 100%;
	position: fixed;
	transition: all 500ms ease;
	transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
	transform: translateX(0%);
}
.cont-menu nav{
	transform: translateY(15%);
}
.cont-menu nav a{
	display: block;
	text-decoration: none;
	padding: 20px;
	color: white;
	border-left: 5px solid transparent;
	transition: all 400ms ease;
}
.cont-menu nav a:hover{
	border-left: 5px solid white;
	background: #007c2a;
}
.cont-menu label{
	position: absolute;
	right: 5px;
	top: 10px;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
}

.cont-menu>nav>a{
	margin-left:0px;
}

.ver-producto{
	width: 90%;
	border: 5px solid #ffff;
	border-radius: 10px;
	margin-top: 0px;
	margin-left: 50px;
	padding: 15px;
	align-items: center;
}

.ver-producto input{
	width:100px;
}

.ver-prodycto caption{
	font-size: 30px;
}

.header table{
    border-collapse: collapse;
    width: 100%;
}

.titulos>td{
	font-weight: bold;
	font-size: 20px;
}

.header td{
	border: 1px solid black;
	padding: 5px;
	text-align: center;
	font-family: garamond, sans-serif;
	font-size: 18px;
}

.header th{
	border: 1px solid black;
}

.btn-acciones img:hover{
	border: 1px solid black;
}

.header section.ver-citas h2{
	margin-top: 130px;
	margin-left: 80px;
	font-size: 60px;
	margin-bottom: 0px;
	color: #009b34;
}
.header input[type=checkbox]{
	transform: scale(1.5);
	width:14px;
	margin-left: 5px;
}

.header tr i{
	padding:3px;
	margin-left: 20px;
	cursor: pointer;
}

.header tr i:hover{
	background-color: #d9d9d9;
}

.header button{
	margin-top: 10px;
	margin-left: 1000px;
	background-color: #009b34;
	border: none;
	border-radius: 8px;
	color: white;
	padding: 15px 28px;
	text-align: center;
	text-decoration: none;
	display:block;
	font-size: 16px;
	cursor: pointer;
}
/*finnnn*/
.grid{
    background: #009b34;
    padding: 1em;
    display: grid;
    grid-template-columns: 100%;
}
.grid div:hover {
    border:1px solid black;
}

.grid img{
    display: block;
    margin: auto;
    width: 10rem;
    height: 10rem;
}
h1{
    font-size: 3em;
    text-align: center;
    color: #eaeaea;
    text-shadow: 0.5em 0.5em 1em rgb(113, 113, 113);
}

.form-contact{
    background-color: white;
    width:40%;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .8);
    border-radius: 1em;
    margin: 0 auto;

}

.formulario header{
    width: 100%;
    background-color: #009b34;
    overflow: hidden;
    color: white;
}

.formulario header span{
    display: block;
    text-align: center;
    padding: 2.5rem;
}

.form-contact{
    padding: 0.1rem;
    overflow: hidden;
    color: gray;
}

.contact label, .contact input, .contact textarea, .contact select{
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

.contact label{
    font-weight: 700;
}

.contact input:not([type='submit']), .contact textarea, .contact select{
    text-align: center;
    border: none;
    border-bottom: 2px solid #009b34;
    margin-bottom: 10px;
    font-size: 15px;
    outline: none;
    color: #1E7829;
}

input[type='submit']{
    padding: 0.5em;
    border: none;
    background-color: #009b34;
    color: white;
    border-radius: 1em;
    font-size: 20px;
    cursor: pointer;
}

.formulario img{
    margin: 0 auto;
    display: flex;
    padding-top: 1em;
    width: 6em;
    height: 6em;
}
.contact select{
    border-radius: 1em;
}